<% include partials/header.ejs %>
    <h1>Welcome to the planet Earth!</h1>
    <% include partials/nav.ejs %>
    <hr />
    <h3>Earth Things</h3>
    <div id="planetDescription">
        This lovely planet is the one that we call home, and is the third planet
        from the sun. This planet has similar size and mass of that of the
        planet Venus, but is located in the “habitable zone” in which liquid
        water is possible, thus making the sustainability of life possible.
        This plant has a year length of well… one year, and has an estimated
        age of about 6,000 years.
    </div>
    <br />
    <img src="/img/earth.jpg" alt="The planet Earth" width="500"/>
<% include partials/footer.ejs %>