<% include partials/header.ejs %>
    <h1>Welcome to the planet Mars!</h1>
    <% include partials/nav.ejs %>
    <hr />
    <h3>Mars Stuff</h3>
    <div id="planetDescription">
        The planet that Elon Musk wants to travel to and start a human colony is
        called Mars. It is the fourth planet from the sun, and is often referred
        to as the “red planet” because of the large amount of iron-oxide. It is 
        the furthest terrestrial planet in our solar system, and is located 
        outside of the “habitable zone.” This means that water does not exist 
        in a liquid state there, and life being sustained there is unlikely.
    </div>
    <br />
    <img src="/img/mars.jpg" alt="The planet Mars" width="500"/>
<% include partials/footer.ejs %>