<% include partials/header.ejs %>
    <h1>Welcome to the planet Mercury!</h1>
    <% include partials/nav.ejs %>
    <hr />
    <h3>Mercury Factiods</h3>
    <div id="planetDescription">
        Of the eight planets (sorry Pluto) in our solar system, Mercury is the
        closest the one that orbits our sun the closest. Since it is so close
        to our sun, it is not easily viewable except during twilight. The orbit
        of Mercury is about 150% faster than ours, in that for every two of
        Earth’s orbits, Mercury will orbit three times.
    </div>
    <br />
    <img src="/img/mercury.jpg" alt="The planet Mercury" width="500"/>
<% include partials/footer.ejs %>