<% include partials/header.ejs %>
    <h1>Welcome to the planet Venus!</h1>
    <% include partials/nav.ejs %>
    <hr />
    <h3>Venus Information</h3>
    <div id="planetDescription">
        Between Mercury and Earth is the planet called Venus, and is the second
        terrestrial planet in our solar system. There are some striking
        similarities between Earth and Venus, such as their similar size and
        mass, which has earned this planet the nickname of Earth’s “sister”
        planet. This planet however is not hospitable as the surface
        temperatures are hot enough to melt lead and have sulfuric acid
        rainstorms.
    </div>
    <br />
    <img src="/img/venus.jpg" alt="The planet Venus" width="500"/>
<% include partials/footer.ejs %>